/* 
handles global css styles 
*/
body {
    margin: 0;
}
a {
    font-family: 'Kanit', sans-serif;
    font-weight: 200;
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Kanit', sans-serif;
}
p {    
    font-family: 'Kanit', sans-serif;
}
pre {
    font-family: 'Kanit', sans-serif;
}